@page 
@model Web_Parkovka_Project.Pages.UserModel
@{
}

<h2>@ViewData["Title"]</h2>

<form method="post">

    <input type="hidden" asp-for="User.Id" />

    <div class="form-group">
        <label asp-for="User.Name">Имя</label>
        <input asp-for="User.Name" type="text" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Surname">Фамилия</label>
        <input asp-for="User.Surname" type="text" class="form-control" />
        <span asp-validation-for="User.Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Patronymic">Отчество</label>
        <input asp-for="User.Patronymic" type="number" class="form-control" />
        <span asp-validation-for="User.Patronymic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Email">Email</label>
        <input asp-for="User.Email" type="number" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.PhoneNumber">Номер телефона</label>
        <input asp-for="User.PhoneNumber" type="number" class="form-control" />
        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Vehicles">Транспорт</label>
        <input asp-for="User.Vehicles" type="number" class="form-control" />
        <span asp-validation-for="User.Vehicles" class="text-danger"></span>
    </div>

    <div class="d-flex gap-2 justify-content-center mt-4">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-page="/Students" class="btn btn-outline-secondary px-4">Отмена</a>
    </div>
    
</form>