@page
@model Web_Parkovka_Project.Pages.ParkingInformationModel
@{
}
<h2>@ViewData["Title"]</h2>

<form method="post">

    <input type="hidden" asp-for="Car.Id" />

    <div class="form-group">
        <label asp-for="Car.Model">Модель автомобиля</label>
        <input asp-for="Car.Model" type="text" class="form-control" />
        <span asp-validation-for="Car.Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Car.Number">Номер автомобиля</label>
        <input asp-for="Car.Number" type="text" class="form-control" />
        <span asp-validation-for="Car.Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Car.Owner">Владелец автомобиля</label>
        <input asp-for="Car.Owner" type="number" class="form-control" />
        <span asp-validation-for="Car.Owner" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Car.OwnerId">Available</label>
        <input type="checkbox" asp-for="Car.OwnerId" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
