@page
@model Web_Parkovka_Project.Pages.ParkingFormModel
@{
    ViewData["Title"] = "Добавление информации о парковке";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    <form method="post" class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4>Информация о парковочном месте</h4>
                <div class="form-group">
                    <label asp-for="ParkingSpot.Number" class="control-label"></label>
                    <input asp-for="ParkingSpot.Number" class="form-control" />
                    <span asp-validation-for="ParkingSpot.Number" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Информация о транспортном средстве</h4>
                <div class="form-group">
                    <label asp-for="Vehicle.Make" class="control-label"></label>
                    <input asp-for="Vehicle.Make" class="form-control" />
                    <span asp-validation-for="Vehicle.Make" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Vehicle.Model" class="control-label"></label>
                    <input asp-for="Vehicle.Model" class="form-control" />
                    <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Vehicle.LicensePlate" class="control-label"></label>
                    <input asp-for="Vehicle.LicensePlate" class="form-control" />
                    <span asp-validation-for="Vehicle.LicensePlate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h4>Информация о владельце</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="User.Surname" class="control-label"></label>
                            <input asp-for="User.Surname" class="form-control" />
                            <span asp-validation-for="User.Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="User.Name" class="control-label"></label>
                            <input asp-for="User.Name" class="form-control" />
                            <span asp-validation-for="User.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="User.Patronymic" class="control-label"></label>
                            <input asp-for="User.Patronymic" class="form-control" />
                            <span asp-validation-for="User.Patronymic" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="User.PhoneNumber" class="control-label"></label>
                            <input asp-for="User.PhoneNumber" class="form-control" />
                            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="User.Email" class="control-label"></label>
                            <input asp-for="User.Email" class="form-control" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}